@model EstudianteWilliam.Models.materia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreMateria)
        </dd>

    </dl>
</div>
<p>
    <a href="contolardo">
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMateria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
